/* Notebooks layout */
.notebooks-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

/* sidebar and view inherited from app.css */

#notebooks-detail-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20em, 1fr));
  grid-gap: 4em;
}
