body {
  background-color: #fff3e0;
  font-size: 15px;
  overflow-y: scroll;
  padding: 1em; }

input {
  outline: none;
}

.main-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  margin-top: 0.5em; 
  width: 100vw;
  height: 100vh;}

.grid-view { grid-area: 1/4/2/13; 
  /* overflow:scroll; */
}
.grid-sidebar { grid-area: 1/1/2/4; }

#create-new-note { 
  display:none; 
}

/* #DELETE WHEN FINISHED #NOTEBOOKSROUTES */
#create-new-note-db { 
  display:none; 
}

[class^=grid] {
  border: 1px solid lightgray;
  padding: 0.5em; }

/* *********************************************** */
/* *********************************************** */
/*                                                 */
/*          dynamic textarea */
/*                                                 */
/* *********************************************** */
/* *********************************************** */

.dynamic-textarea {
  background-color: inherit;
  padding:0.2em;
  outline: none;
  /* border */
    border: 1px dotted gray;
    border-top: 4px solid black;
  /* resize able */
    resize: both;
    overflow: auto;
  /* size */
    height: auto;
    min-width: 1vw;
    width: fit-content;
    font-size: inherit;
}

/* Custom Navbar */
#custom-navbar {
  background-color: #ccc0ae; 
}

/* Custom Colors */
.pc { background-color: #fff3e0; }
.pc-l { background-color: #ffffff; }
.pc-d { background-color: #ccc0ae; }

.sc { background-color: #e64a19; }
.sc-l { background-color: #ff7d47; }
.sc-d { background-color: #ac0800; }

.tc   { background-color: #00695c; }
.tc-l { background-color: #439889; }
.tc-d { background-color: #003d33; }

/* Custom Bootstrap */

/* Custom a */
a { color: black; }
a:hover { color: black; font-weight: 500; }

/* Custom button */
.btn { padding: 3px; }
.btn-link { color:black; }
.btn-link:hover { color: black; font-weight: 500; }

/* Custom card */
.card-header { padding: 0; }
