body {
  background-color: orange;
  font-size: 20px;
  padding: 2em;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.grid-view {
  grid-area: 1/4/2/13;
}

.grid-sidebar {
  grid-area: 1/1/2/4;
}

[class^=grid] {
  border: 1px solid gray;
  padding: 0.5em;
}

