<template>
  <require from="../../stylesheets/allNbs.css"></require>

  Select A Notebook
  <button class="btn btn-outline-secondary"
    click.delegate="methods.notebooks.getNotebooks()">Get Notebooks</button>
  <button class="btn btn-outline-secondary"
    click.delegate="methods.notebooks.postNotebook()">Post Notebooks</button>
  <div class="notebooks-container">
    <div repeat.for="notebook of allNotebooks">
      <div if.bind="notebook._id"
        class="grid">
          <a route-href="route: notebookDetail; params.bind: {nbid:notebook._id}" dblclick.delegate="changeNoteName($event)">
            ${notebook.title}
          </a>
      </div>
    </div>
  </div>
</template>
